@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}

:root {
    --corpo: #1D232A;
    --cabecalho: #1D232A;
    --cabecalho-mobile: #15191C;
    --menu-lateral: #15191C;
    --cartao: #2C343A;
    --fonte: #FFFFFF;
    --fonte-alternativa: #95999C;
    --links: #0480DC;
    --botão: #0480DC;
    --sombras: 0px 4px 4px rgba(0, 0, 0, 0.16);
}

body {

    font-family: 'Open Sans', 'icones', sans-serif;

    color: #fff;
    background-color: var(--corpo);
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: .5rem 1rem;

    background-color: var(--cabecalho-mobile);
    box-shadow: var(--sombras);
}

.cabecalho__menu i::before {
    content: "\e904";
    font-size: 24px;
}

.cabecalho__logo {
    width: 40px;
}

.cabecalho__notificacao i::before {
    content: "\e906";
    font-size: 24px;
}

.menu-lateral {
    width: 75vw;
    height: 100vh;
    
    position: absolute;
    left: -100vw;

    display: flex;
    flex-direction: column;
    background-color: var(--menu-lateral);

    transition: all .3s;
}

.menu-lateral--ativo {
    left: 0;
}

.menu-lateral__logo {
    width: 118px;
    padding: 16px;

    align-self: center;
}

.menu-lateral__link {
    height: 64px;
    padding-left: 64px;

    display: flex;
    align-items: center;

    color: var(--fonte-alternativa);
}

.menu-lateral__link--ativo {
    padding-left: 56px;

    color: #fff;
    border-left: 8px solid #fff;
}

.menu-lateral__link::before {
    content: "\e900";
    width: 24px;
    height: 24px;

    position: absolute;
    left: 24px;

    font-size: 24px;
}

.menu-lateral__link--inicio::before {
    content: "\e902";
}

.menu-lateral__link--videos::before {
    content: "\e90e";
}

.menu-lateral__link--picos::before {
    content: "\e909";
}

.menu-lateral__link--integrantes::before {
    content: "\e903";
}

.menu-lateral__link--camisas::before {
    content: "\e900";
}

.menu-lateral__link--pinturas::before {
    content: "\e902";
}

.principal {
    padding: 24px 16px;
}

.titulo-pagina {
    font-size: 1.5rem;
    font-weight: 700;
}

.cartao {
    overflow: hidden;
    width: 100%;

    background-color: var(--cartao);

    border-radius: 15px;
}

.cartao__conteudo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    padding: 16px;
}

.cartao__destaque {
    grid-column: span 2;
}

.cartao__titulo {
    grid-column: span 2;
    font-size: 1.2rem;
    font-weight: 700;
}

.cartao__perfil {
    grid-column: span 2;
    color: var(--fonte-alternativa);
    font-size: .9rem;
}

.cartao__info {
    display: flex;
    align-items: center;

    color: var(--fonte-alternativa);
}

.cartao__info--tempo::before {
    content: "\e90c";
    margin-right: 8px;
}

.cartao__info--visualizacao::before {
    content: "\e90f";
    margin-right: 8px;
}

.cartao__botao {
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: .9rem;

    background-color: var(--botão);
    border-radius: 10px;
}

.cartao__botao--play::before {
    content: "\e90b";
    font-size: 24px;
}

.cartao__botao--destaque {
    grid-column: span 2;
    width: 100%;
}

.cartao__botao--destaque::before {
    margin-right: 8px;
}
