@charset "UTF-8";

:root {
    --branco-principal: #fff;
    --cinza-secondario: #c0c0c0;
    --bota-azul: #167bf7;
    --cor-de-fundo: #00030c;
    --bota-azul-efeito: #5ba5ff;

    --fonte-principal: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;

    color: var(--branco-principal);
    background-color: var(--cor-de-fundo);
}

.principal {
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: cover;

    align-items: center;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 50%);

    height: 100vh;
}

.container__caixa {
    margin: 0 6em;
    vertical-align: middle;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__descricao {
    padding: 2em;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__botao {
    display: block;
    margin-bottom: 1em;
    padding: 1em;

    color: var(--branco-principal);
    background-color: var(--bota-azul);
    text-decoration: none;

    border-radius: 5px;
    transition: all .3s;
}

.container__botao_secundario {
    background-color: transparent;

    border: 1px solid var(--branco-principal);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secondario);
}

.secundario {
    margin: 0 10em;
    align-items: center;
}

.secundario__imagem {
    width: 70%;
}

.descricao__titulo {
    margin-bottom: 0.1em;

    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
}

.descricao__texto {
    color: var(--cinza-secondario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    color: var(--branco-principal);
    font-size: 48px;
}

.dispositivos__lista {
    margin: 5em 0;

    display: flex;
    justify-content: center;

    list-style: none;
}

.lista__item {
    color: var(--branco-principal);
    font-size: 32px;
}

.rodape {
    display: flex;
    align-content: center;
    flex-direction: column;
    gap: 1em;

    text-align: center;
}

.rodape__logo {
    width: 100px;
    margin: 1em auto;
}

.rodape__lista {
    margin-bottom: 1em;
    list-style: none;
}

.lista__link {
    display: inline;
    margin-left: 1em;
}

.lista__link > a {
    color: var(--branco-principal);
    text-decoration: none;
}

.rodape__texto {
    width: 70%;
    margin: 0 auto;

    color: var(--cinza-secondario);
    font-size: 12px;
}

.rodape__texto:last-child {
    margin-bottom: 2em;
}

.lista__link a:hover {
    color: var(--bota-azul);
}

.container__botao:hover {
    color: var(--cor-de-fundo);
    background-color: var(--bota-azul-efeito);
}

.lista__link a:active {
    color: purple;
}
